@import"./global.scss";

.container--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    min-height: 80px;
    
}
.header-btn{
    background: none;
    cursor: pointer;
    img{
        width: 50px;
        transform: rotateZ(-60deg);
    }
}

.btn-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12.5%;
    background: none;
    cursor: pointer;

    p {
        transform: translateY(2px);
        font-size: 18px;
        font-weight: normal;

        &:last-child {
            transform: translateY(0px);
        }
    }
}

.counter-btn {


    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 50%;
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: -2;
    background: $color--yellow-1;
}